body{
	overflow:hidden;
}

#logo{
	z-index:1;
	width:450px;
	height:120px;
	margin-top:20px;
	margin-left:-1%;
	position:absolute;
}

#front-bg{
	width:1720px;
	height:1440px;
	margin-left:-7%;
	margin-top:-120px;
}